
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 60px;
    width: 200px;
}