
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login-wrapper {
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial Black", Gadget, sans-serif;

}

.front-button {
    height: 60px;
    width: 200px;
}

.login-button{
    font-family: "Arial Black", Gadget, sans-serif;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

